.tiptap.ProseMirror {
  --blockquote-bg-color: var(--tt-gray-light-900);

  .dark & {
    --blockquote-bg-color: var(--tt-gray-dark-900);
  }
}

/* =====================
     BLOCKQUOTE
     ===================== */
.tiptap.ProseMirror {
  blockquote {
    position: relative;
    padding: 1em 18px;
    margin: 24px 0;
    border: 1px solid #333;
    border-radius: 2px;

    p {
      margin-top: 0;
    }
  }
}