node_modules
.github
.pnp
.pnp.js
.turbo
.next
out
build
dist
coverage

apps/native/ios/Pods
apps/native/ios/build
apps/native/android/.gradle
apps/native/android/build
apps/native/android/app/.cxx

apps/admin/src/routeTree.gen.ts
