@import 'tailwindcss';

@theme {
  --font-pretendard: Pretendard, sans-serif;
}

@theme {
  /* Black & White */
  --color-black: #000000;
  --color-white: #ffffff;

  /* Gray Scale */
  --color-lightgray500: #c8cad4;
  --color-lightgray400: #dfe2e7;
  --color-lightgray300: #edeef2;
  --color-lightgray200: #f3f5f8;
  --color-lightgray100: #f8f9fc;

  --color-midgray200: #6b6f77;
  --color-midgray100: #9fa4ae;

  --color-darkgray200: #222324;
  --color-darkgray100: #3e3f45;

  --color-background: #f7f7f7;

  /* Colors */
  --color-green: #0f7b0d;
  --color-lightgreen: #e7f6e5;
  --color-red: #d20000;
  --color-lightred: #fce4e4;
  --color-blue: #5a67ee;
  --color-lightblue: #ecf0fb;
}

/* ========================= */
/*        BASE STYLES        */
/* ========================= */
@layer base {
  @font-face {
    font-family: 'Pretendard';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  }

  html {
    font-size: 62.5%;
    font-family: var(--font-pretendard), sans-serif;
    overscroll-behavior: none;
    background-color: var(--color-background);
  }

  body {
    width: 100%;
    min-height: 100dvh;
    font-family: var(--font-pretendard), Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    overflow-x: auto;
  }

  p {
    word-break: keep-all;
  }

  a {
    text-decoration: none;
  }

  button {
    cursor: pointer;
  }

  select {
    background: #fff;
  }

  .suit {
    font-family: var(--font-suit), sans-serif;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

/* ========================= */
/*      TYPOGRAPHY STYLES    */
/* ========================= */
@layer components {
  /* Bold font styles */
  .font-bold-32 {
    @apply font-pretendard text-[32px] leading-[150%] font-bold;
  }
  .font-bold-24 {
    @apply font-pretendard text-[24px] leading-[150%] font-bold;
  }
  .font-bold-20 {
    @apply font-pretendard text-[20px] leading-[150%] font-bold;
  }
  .font-bold-18 {
    @apply font-pretendard text-[18px] leading-[150%] font-bold;
  }
  .font-bold-14 {
    @apply font-pretendard text-[14px] leading-[150%] font-bold;
  }

  /* Medium font styles */
  .font-medium-24 {
    @apply font-pretendard text-[24px] leading-[150%] font-medium;
  }
  .font-medium-18 {
    @apply font-pretendard text-[18px] leading-[150%] font-medium;
  }
  .font-medium-16 {
    @apply font-pretendard text-[16px] leading-[150%] font-medium;
  }
  .font-medium-14 {
    @apply font-pretendard text-[14px] leading-[150%] font-medium;
  }
  .font-medium-12 {
    @apply font-pretendard text-[12px] leading-[150%] font-medium;
  }
}
