@import 'swiper/css';
@import 'swiper/css/pagination';

.swiper-slide {
  width: 31.2rem !important;
  height: 43.1rem !important;
}

.swiper-pagination {
  position: unset !important;
  margin-top: 1rem !important;
}

.swiper-pagination-bullet {
  width: 4px !important;
  height: 4px !important;
}
