@import 'swiper/css';
@import 'swiper/css/pagination';

.mySwiper {
  position: absolute;
  width: 100dvw !important;
}

.swiper-slide {
  width: calc(100dvw - 4rem) !important;
  max-width: calc(768px - 4rem) !important;
  height: calc(100dvh - 38rem - 2.5rem) !important;
  max-height: calc(100dvh - 38rem - 2.5rem) !important;
}

.swiper-pagination {
  position: unset !important;
  margin-top: 1rem !important;
}

.swiper-pagination-bullet {
  width: 4px !important;
  height: 4px !important;
}
