@import '@repo/pointer-design-system/global-styles';

@theme {
  /* breakpoints */
  --breakpoint-sm: 431px;
  --breakpoint-md: 769px;
  --breakpoint-lg: 1367px;
}

@layer base {
  html {
    min-width: 375px;
  }

  body {
    max-width: 768px;
    margin: 0 auto;
  }
}
